<h3>Felsőgödi Plébánia Katalógus</h3>

<table id="books">
  <thead>
    <tr>
      <th>Szerző</th>
      <th>Cím</th>
      <th>Jelzet</th>
      <th>Kiadó</th>
      <th>Év</th>
      <th>Külső leírás</th>
<!--        
      <th></th>
      <th></th>
      <th></th>
-->      
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.szerzo %></td>
        <td><%= book.cim %></td>
        <td><%= book.jelzet %></td>
        <td><%= book.kiado %></td>
        <td><%= book.ev %></td>
        <td><%= book.kulso_leiras %></td>
<!--        
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--        
<%= link_to 'New Book', new_book_path %>
-->
