<p id="notice"><%= notice %></p>

<p>
  <strong>Szerző:</strong>
  <%= @book.szerzo %>
</p>

<p>
  <strong>Cím:</strong>
  <%= @book.cim %>
</p>

<p>
  <strong>Jelzet:</strong>
  <%= @book.jelzet %>
</p>

<p>
  <strong>Kiadó:</strong>
  <%= @book.kiado %>
</p>

<p>
  <strong>Év:</strong>
  <%= @book.ev %>
</p>

<p>
  <strong>Külső leírás:</strong>
  <%= @book.kulso_leiras %>
</p>

<%= link_to 'Szerkesztés', edit_book_path(@book) %> |
<%= link_to 'Vissza a listához', books_path %>
