<%= form_for([@book, @lending]) do |f| %>
  <% if @lending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

      <ul>
      <% @lending.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Szerző:</strong>
    <%= @book.szerzo %>
  </p>
  <p>
    <strong>Cím:</strong>
    <%= @book.cim %>
  </p>
  <div class="field">
    <%= f.label "Kölcsönző:" %><br>
    <%= f.text_field :lender %>
  </div>
  <div class="field">
    <%= f.label "Határidő:" %><br>
    <%= f.date_select(:deadline)  %>
  </div>
  <div class="actions">
    <%= f.submit "Kölcsönzés" %>
  </div>
<% end %>
